{% extends 'base.html.twig' %}

{% block title %}Hello AlumnosController!
{% endblock %}

{% block body %}

	<main class="example-wrapper">
		<h1>Hola
			{{ controller_name }}!
			<i class="fa-solid fa-check text-light btn btn-outline-success p-1"></i>
		</h1>
		<section>
			<h2>Tabla Alumnos</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>NIF</th>
						<th>Nombre</th>
						<th>Sexo</th>
						<th>Nº Aula</th>
                        <th>Docente</th>
                        <th>Fecha Nacimiento</th>
					</tr>
				</thead>
				<tbody>
					
					{% for alumno in filasAlumnos %}
						{% if alumno.sexo %}
							{% set valorSexo = "Mujer" %}
                        {% else %}
                            {% set valorSexo = "Hombre" %}
						{% endif %}
						<tr>
							<td>{{ alumno.nif }}</td>
							<td>{{ alumno.nombre }}</td>
                            <td>{{ valorSexo }}</td>
							<td>{{ alumno.num_aula }}</td>
							<td>{{ alumno.docente }}</td>
                            <td>{{ alumno.fechanac }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
	</main>
{% endblock %}
